// ---------------------------------
// PATRON DE COLORES 
// ----------------------------------

$texto: #111111 ;
$principal: #8904B1;
$secundario: #009500; 
$tercero: #D0A9F5;

@charset "UTF-8";
html {
   font-size: 16px; 
   line-height: 3rem;
   font-style: italic;
}


body {
    font-family: Open Sans !important;
    font-weight: 300 !important;
}



// ---------------------------------
// ENCABEZADO 
// ----------------------------------

.encabezado {
    display: flex;
    background: #111111;
    padding: 5rem 0;
}

.encabezado .container img {
    height: auto;
    width: 100px;
}

.encabezado .container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}






// ---------------------------------
// MENU 
// ----------------------------------



.boton-buscar {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 2rem;
    margin-left: auto;
    margin-right: .8rem;
}


.boton-menu {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 2rem;
}

#menu-principal {
    flex: 1 1 100%;
}

#menu-principal ul{
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;   
}

#menu-principal ul a{
    padding: .5rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid $principal;
    display: block;
    text-decoration: none;
}

#menu-principal ul li.active a, #menu-principal ul a:hover{
    color: $principal;
}



// ----------------------------------
// ESTILO BLOQUE BUSCAR
// ----------------------------------

#bloque-buscar {
    flex: 1 1 100%;
    margin-top: 2rem;
}

.contenedor-bloque-buscar {
    display: flex;
    height: 3rem;
    margin: 1rem 0;
}

.contenedor-bloque-buscar input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
}

.contenedor-bloque-buscar input[type="submit"] {
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    padding: 1rem;
    background: $principal;
    color: #fff;
}




// ---------------------------------
// ENCABEZADO 
// ----------------------------------

.texto-encabezado {
  display: flex;
}

.contenedor {
    flex: 1 1 100%;
    margin-top: 7.6rem;

}


.contenedor h1 {
    margin: 2rem 0 0 0;
}

.contenedor p {
    margin-top: 3rem;  
}

.btn {
    margin-bottom: 3rem;
}

.boton-bajar a {
    font-size: 2rem;
    display: inline-block; /* para que funcione la animación de JS */
    animation: animar-flecha 1.5s ease-in-out infinite;
}

@keyframes animar-flecha{
    from{ 
        transform: translateY(0);
        
    }
    50%{
       transform: translateY(6px); 
    }
    to{
        transform: translateY(0);
    }
    
}

.contenedor-objetivo{
    background: $principal;
    color: white;
    line-height: 4rem;
}

.objetivos .contenedor-objetivo-imagen1{
    border: 1px solid transparent;
    width: 290px;
    box-shadow: 10px 10px 52px -16px rgba(0,0,0,0.47);
    display: inline-block;
    margin: 15px 0 15px 0;
}

.objetivos .contenedor-objetivo-imagen2{
    border: 1px solid transparent;
    width: 290px;
    box-shadow: 10px 10px 52px -16px rgba(0,0,0,0.47);
    display: inline-block;
    margin: 15px 0 15px 0 ;
}

.objetivos .contenedor-objetivo-imagen3{
    border: 1px solid transparent;
    width: 290px;
    box-shadow: 10px 10px 52px -16px rgba(0,0,0,0.47);
    display: inline-block;
    margin: 15px 0 15px 0;
}

.contenido-ebook{
    text-align: center;
    padding-top: 4rem;
}

.contenido-ebook h2 {
    color: $principal;
}

.ebook .boton2 {
    border-radius: 40px;
    margin-top: 3rem;
}

.section-experiencias .exp1 {
    border: 1px solid #E6E6E6;
    background: #fff;
    margin-top: 1rem;
}

.section-experiencias .exp2 {
    border: 1px solid #E6E6E6;
    background: #fff;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.section-experiencias {
    background: #F2F2F2;
    padding-top: 2rem;
}

.nombres {
    color: $tercero;
    font-weight: 800;
}

.section-experiencias h3{
    font-weight: 700;
}

.container p{
    font-style: normal;
}

.section-informate h1 {
    color: $principal;
}

.section-informate{
    text-align: center;
}




// ---------------------------------
// PAGINA REPROGRAMACION 
// ----------------------------------

.segundapagina {
    margin-top: 2rem;
}

.btn-secondary{
    background-color: #8064A2 !important;
}

.contenedor-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.recuadro-redes{
    border: 1px solid #fff;
    width: 250px;
    border-radius: 2%;
    text-align: center;
}

.testim1, .testim2{
    border-radius: 50%;
}

.box-interna{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.row p{
    color: #A4A4A4;
}


// ---------------------------------
// FOOTER 
// ----------------------------------

.container-apps{
    display: flex;
    justify-content: center;
    align-items: center;
}



.apps a{
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1rem;
}




.btn-subir{
    position: fixed;
    bottom: .4rem;
    right: 1rem;
    font-size: 2rem;
    color: #111111;
}



.pie-de-pagina{
    background: #086A87;
    color: white;
    padding-top: 1rem;
    height: 350px;
    padding-top: 1rem;
    text-align: center;
}


.contenedor-redes{
    display: flex;
    flex: 1 1 100%;
}

.pie-de-pagina ul{
    list-style: none;
    text-decoration: none;
}

.pie-de-pagina ul li{
    display: inline-block;
}



// ---------------------------------
// CAROUSEL 
// ----------------------------------


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}



/*# sourceMappingURL=estilos.css.map */




// ---------------------------------
// PAGINA ACERCA DE 
// ----------------------------------


.texto-encabezado-acerca {
  display: flex;
}

.contenedor-acerca {
    flex: 1 1 100%;
    background: red;
    height: 500px;
    background-image: url(../Imagenes/acerca_de_vale.jpg);
    background-position: center;
}

.contenedor-acerca h1 {
    padding-top: 19.5rem;
    color: #fff;
}

.propuesta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propuesta ul{
   list-style: none;
}



.propuesta ul li i{
    color: $principal;
    padding-right: 1rem;
}

.propuesta ul li{
        line-height: 2.5rem;
}

.propuesta p{
    margin-top: 1rem;
    color: $principal;
    font-family: serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
}

#foto-vale{
    height: 250px;
    width: 300px;

}


.propuesta h2{
    font-weight: 700;
}